<!DOCTYPE html>
<html lang="ru">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>

        <main class="main">
            <h1 class="main__title">JavaScript</h1>
            <h2 class="main__qruizTitle"><%- partition %></h2>
            <form class="qruiz" action="/technology/javascript" method="post">
                <div class="qruiz__container">
                    <% questions.forEach((question, index) => { %> 
                        <div class=
                            <%if(index === 0) { %>
                                "qruiz__question qruiz__question_active"
                            <% } else { %>
                                "qruiz__question"
                            <% } %> >
                        <div class="qruiz__title"><%= question.question %></div>
                        <div class="qruiz__answers">
                            <% question.answers.forEach(variant => {%>
                                <label class="qruiz__variant">
                                    <input type="radio" name="<%- question._id %>" value="<%- variant._id %>" /> <%- variant.answer %>
                                </label>
                            <% }) %>
                        </div>
                        </div>
                    <% }) %> 
                </div>
                <div class="qruizControls">
                    <button class="qruizControls__button qruizControls__button-prev qruizControls__button_disabled" type="button" disabled>Предыдущий</button>
                    <button class="qruizControls__button qruizControls__button-stop" type="submit">Завершить</button>
                    <button class="qruizControls__button qruizControls__button-next" type="button">Следующий</button>
                </div>
            </form>
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
